.encabezado{
    background-color: beige ;
}

.contenido{
    background-color: beige ;
}

.texto{
    text-align: justify;
    color: blue;
}
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

.imagen{
    background-color:blue;
}
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }